.header {
    position: absolute;
    background-image: linear-gradient(#fcf0e1, #ffffff);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    height: 20vw;
    left: 0;
    right: 0;
    z-index: -1;
    top: 6.5vw;
}