.name-link {
  position: relative;
  color: white;
  overflow: hidden;
  background: linear-gradient(to right, lightgreen, lightgreen 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 500ms ease;
  -webkit-text-stroke: 0.065vw black;
  text-decoration: none;
}

.name-link:hover {
  background-position: 0 100%;
  font-size: 3.2vw;
}

.nav-bar-right a {
  float: right;
  padding: 0.651041vw;
  margin-top: 1.3vw;
  font-size: 1.2vw;
  font-weight: 500;
}

.nav-bar-left a {
  float: left;
  padding: 0.3255vw;
  margin-top: 1.302vw;
  font-size: 1.2vw;
  font-weight: 500;
}

.nav-bar {
  height: 6.5vw;
}

.profile-text {
  font-size: 1.2vw;
  letter-spacing: 0.065vw;
  margin-bottom: 5.208vw;
  opacity: 0.9;
}

.intro {
  font-size: 2.083vw;
}

.recent-works{
  font-size: 1.3vw;
  font-weight: 700;
}

.recent-works::after {
  padding: 0.651vw;
  display: inline-block;
}

.recent-works::before {
  content: "";
  display: inline-block;
  width: 2.2786vw;
  height: 0.130vw;
  background: black;
  margin-right: 0.651vw;
  vertical-align: middle;
}

.card-images {
  width: auto;
  height: auto;
  padding-left: 8;
  padding-bottom: 8;
  object-fit: contain;
  background-color: #8686c9;
}

.blue {
  background-color: #b2fcf9;
}

.peach {
  background-color: #f6ccb7;
}

.yellow {
  background-color: #f6f09f;
}

.green {
  background-color: #a6f9dd;
}

.pink {
  background-color: #fdd9e6;
}

.orange {
  background-color: #ffdbb6;
}

.card {
  display: flex;
  max-width: 75%;
  max-height: 15%;
  margin: auto;
  margin-top: 5%;
}

.card-content {
  flex: "1 0 auto";
  flex-direction: column;
  margin-left: 2%;
}

.logo {
  margin: 2.6vw;
  margin-top: 4.15vw;
  height: 9.76vw;
  width: 9.76vw;
}

.git-card-logo{
  margin: 2.6vw;
  height: 9.76vw;
  width: 9.76vw;
}

.find-out-more {
  border-radius: 1.3vw;
  color: white;
  padding-top: 0.325vw;
  padding-bottom: 0.260vw;
  padding-left: 0.97vw;
  padding-right: 0.97vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3vw;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 0.065vw solid blueviolet;
  font-family: sans-serif;
  margin-top: 4vw;
}

.find-out-more:hover {
  background-color: blueviolet;
  color: white;
}

.right-arrow {
  align-self: auto;
  font-size: 1.1vw;
  vertical-align: middle;
  position: relative;
}

.text{
  font-size: 1.2vw;
}

.contact-dt {
  padding: 0.9765vw;
  padding-top: 5%;
  align-items: center;
  padding-bottom: 5%;
}

.contact-dt h1 {
  font-size: 3vw;
  padding-left: 1.3vw;
}

.contact-dt p {
  font-size: 1.1vw;
  padding-left: 1.62vw;
}

.view-all-projects {
  margin: 0.65vw;
  margin-top: 2.2786vw;
}

.button-wrapper {
  text-align: center;
  height: 10%;
}

.view-all-icon {
  font-size: 1.2vw;
  vertical-align: middle;
  padding-left: 0.4557vw;
  padding-top: -0.130vw;
}

.nav-bar-fade {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 1.2vw;
  margin: 0.26041vw 0.130vw;
  transition: 0.3s;
  text-decoration: none;
}

.nav-bar-fade:hover {
  background-color: #fffacd;
  border-radius: 1.30vw;
  padding: 1.30vw;
}

.bottom {
  height: 3.255vw;
}

.click-clue{
  opacity: 0.8;
  font-size: 0.78vw;
  margin-bottom: -5vw; 
}

.mas-flag {
  width: 19.531vw;
  height: 19.531vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 1.302vw;
  position: relative;
}

/* .sparkle {
  position: relative;
  top: -300px;
  right: -15%;
  width: 300px;
  height: 300px;
} */

/* .intro {
  margin-top: -250px;
} */

.row::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 40%;
  padding: 0.651vw;
  margin-left: 0.976vw;
}

.indent {
  text-indent: 2em;
}

.safe-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 40%;
}

.TAS-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #8686c9;
  border-radius: 1.627vw;
  width: 30%;
  height: 9.765;
}

.bold {
  font-weight: 650;
}

.conceptual-diagram {
  width: 50%;
  height: 13.028vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0.3255208333333333vw;
  cursor: pointer;
  transition: 0.3s;
}

.database-diagram {
  width: 45%;
  height: 17.028vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0.3255208333333333vw;
  cursor: pointer;
  transition: 0.3s;
}

.conceptual-diagram:hover {
  opacity: 0.3;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5.859375vw; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  margin-top: 1%;
  display: block;
  width: 75%;
  height: 85%;
}

.card-heading {
  font-size: 1.4vw;
}

.list-1 {
  font-size: 1.4vw;
  margin-left: 1vw;
  margin-top: -1vw;
}

.item-list-header{
  font-size: 1.4vw;
  margin-bottom: 1.8vw;
}

.caption {
  margin: auto;
  margin-bottom: 2.278vw;
  display: block;
  width: 80%;
  text-align: center;
  color: black;
  font-weight: 100;
  font-size: 0.865vw;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top:  0.9765625vw;
  right: 2.2786458333333335vw;
  color: #f1f1f1;
  font-size: 2.6vw;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.info {
  margin-bottom: 0vw;
}

.info-container {
  margin-bottom: 3.255vw;
  font-size: 1.17vw;
}

.Fingerprint-History {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:40%;
  height: 20%
}

.Methodology {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 55%;
  height: 35%;
}

.flatland-gif {
  width: 80%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.youtube {
  width: 27.34375vw;
  height: 22.4609375vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.result {
  width: 80%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0.130vw;
}

.DataVis {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
  height: 20%;
}

.DataVis:hover {
  opacity: 0.7;
}

.center {
  margin-top: 35%;
}

.Japan {
  height: 22.786458333333332vw;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3%;
}

.Japan:hover {
  opacity: 0.7;
}

.Bubble {
  width: 100%;
  height: 100%;
  margin-left: 5%;
}

.Bubble:hover {
  opacity: 0.7;
}

.Question {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
  height: 20%;
  border-radius: 1.6276041666666667vw;
}

.Question:hover {
  opacity: 0.7;
}

.Persona {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 50%;
  margin-top:5%;
}

.sketch-text{
  margin-top: 40%;
}

.Moqup {
  width: 90%;
  height: 30%;
}

.git-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
  height: 10%;
  border-radius: 1.3020833333333333vw;
}

.git-monitoring {
  height: 22.786458333333332vw;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -1.3020833333333333vw;
}

.git-monitoring:hover {
  opacity: 0.7;
}

.ui {
  height: 19.53125vw;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -1.3020833333333333vw;
}

.column-3 {
  float: left;
  width: 30%;
  padding: 0.6510416666666666vw;
}

.logos {
  margin-top: -0.9765vw;
}

.logo-flutter {
    width: 9.765625vw;
    height:3.2552083333333335vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.app-ss {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.email {
  font-weight:750;
}

.rdd {
  height: 22.786458333333332vw;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3%;
}

.apache {
  height: 12.786458333333332vw;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3%;
}

.dataframe {
  height: 12.786458333333332vw;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3%;
}

.pipeline {
  height: 12.786458333333332vw;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3%;
}

.r {
  height: 10.786458333333332vw;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3%;
}

.kdd {
  height: 22.786458333333332vw;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3%;
}

.roc {
  height: 22.786458333333332vw;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3%;
}